pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    color: #111;
    background: #EEE;
}

.hljs-attr {
    font-weight: bold;
}

.hljs-bullet,
.hljs-literal,
.hljs-number,
.hljs-symbol {
    color: #066fff
}

.hljs-deletion,
.hljs-keyword,
.hljs-selector-tag {
    color: #a1a0a0
}

.hljs-link,
.hljs-template-variable,
.hljs-variable {
    color: #629755
}

.hljs-comment,
.hljs-quote {
    color: grey
}

.hljs-meta {
    color: #bbb529
}

.hljs-addition,
.hljs-attribute,
.hljs-string {
    color: #049a16;
    font-weight: bold;
}

.hljs-section,
.hljs-title,
.hljs-type {
    color: #ffc66d
}

.hljs-name,
.hljs-selector-class,
.hljs-selector-id {
    color: #e8bf6a
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

@media (prefers-color-scheme: dark) {

    .hljs {
        color: #a9b7c6;
        background: #282b2e
    }

    .hljs-attr {
        color: #b0c0d2;
    }

    .hljs-bullet,
    .hljs-literal,
    .hljs-number,
    .hljs-symbol {
        color: #64bbfd
    }

    .hljs-deletion,
    .hljs-keyword,
    .hljs-selector-tag {
        color: #6a6a6a
    }

    .hljs-link,
    .hljs-template-variable,
    .hljs-variable {
        color: #629755
    }

    .hljs-comment,
    .hljs-quote {
        color: grey
    }

    .hljs-meta {
        color: #bbb529
    }

    .hljs-addition,
    .hljs-attribute,
    .hljs-string {
        color: #8cb972
    }

    .hljs-section,
    .hljs-title,
    .hljs-type {
        color: #ffc66d
    }

    .hljs-name,
    .hljs-selector-class,
    .hljs-selector-id {
        color: #e8bf6a
    }
}